body {
    margin: auto;
    margin-bottom: 15px;
    width: 720px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}

h1 {
    margin: 0px;
    font-size: 200%;
}

h2 {
    margin: 0px;
}

li {
    margin: 6px;
}

hr {
    width: 90%;
}

#nav {
    float: right;
    color: gray;
    font-size: 120%;
}

#topright {
    float: right;
    color: gray;
    padding-bottom: 5px;
}

#smalldate {
    font-size: 75%;
    color: gray;
}

#subtitle {
    color: gray;
}

#content a:link {
    color: red;
}

#content a:visited {
    color: red;
}

#content a:active {
    color: red;
}

#content a:hover { color: blue; }

a:link { 
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
a:hover { color: blue; }

